
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');


body {
    font-weight: bold;
    font-family: 'Lato', "sans-serif";
}    

.navbar {
    background-color: #e4b55f; 
    font-size: 30px; 
    font-family: 'Lato', "sans-serif";  
}

.navbar-brand {
    font-size: 40px;
}

.main-bg {
    background-color: #f0ddb4;
}

.card {
    border-style: none;
    box-shadow: 2px 5px;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: 0%;
    min-width: 30%;
    left: -2px;
    background-color: #000000;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: lightseagreen;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.btn-signup {
    background-color: #445261;
    color: #fff;
    margin-top: 2%;
    margin-right: 10%;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: white;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

