
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');


body {
    font-weight: bold;
    font-family: 'Lato', "sans-serif";
}    

.navbar {
    background-color: lightseagreen; 
    font-size: 20px; 
    font-family: 'Lato', "sans-serif";  
}

.nav-link {
    color: black;
}

.navbar-brand {
    font-size: 40px;
}

.main-bg {
    background-color: #f1efe9;
}

.card {
    border: none;
   /* box-shadow: 2px 5px; */
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: 0%;
    min-width: 30%;
    left: -2px;
    background-color: #000000;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.dark-bg {
    background-color: lightseagreen;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 250%;
    padding: 2%;
    color: black;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: lightseagreen;
    color: black;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: lightseagreen;
}
.comments {
    box-shadow: none;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    color: lightseagreen;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.btn-signup {
    background-color: #445261;
    color: #fff;
    margin-top: 2%;
    margin-right: 10%;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: white;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: underline;
}

.btn-like {
    color: #10a4e8;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #10a4e8;
    background: transparent;
    border: none;
}

