{% extends "base.html" %}

{% block title %}
Catlist
{% endblock %}

{% block content %}
<!--Finding categories of posts-->
<div class="container-fluid">
    <div class="col-12 mt-3 left">
        <div class="row">
            <div class="col-12 mb-3 mt-4">
                <h1> List of {{catlist.cat}} posts</h1>
            </div>
            {% for post in catlist.posts %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top"
                                src="https://images.pexels.com/photos/237464/pexels-photo-237464.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Drumworld">
                            {% else %}
                            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="Card image cap">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <!--View posts-->
                        <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                            <h2 style="font-size:18px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
                            <p class="card-text">{{post.excerpt|truncatechars:50}}</p>
                        </a>
                        <p class="card-text text-muted h6">{{ post.created_on}}</p>
                    </div>
                </div>
            </div>
            <!--nuber of posts in a row-->
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}