{%extends 'base.html'%}

{%block content%}

<!--Delete comment-->
<div class="col-md-4 mt-3 offset-md-4" style="text-align: center;">
	<form method="post" class="card">
		{% csrf_token %}
		<h2>Delete comment</h2>
		<p>Are you sure that you want to delete "{{comment}}"?</p>
		<div class="col-md-5 mt-3 offset-md-3">
			<p class="form-buttons">
				<input type="submit" class="btn btn-signup btn-primary" value="Delete">
			<a href="{{ view.get_success_url }}" class="btn btn-signup btn-outline">Cancel</a>
			</p>
		</div>
	</form>
</div>

{%endblock%}