{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!--Edit comment-->
<div class="container">
    <div class="col-md-5 mt-3 offset-md-3" style="text-align: center;">
        <h3>Edit your comment:</h3>
    <div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <form method="post" class="hidebody">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-signup btn-lg">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


