{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4 masthead-text">
                <!-- Post title-->
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-8 masthead-image">
                <!-- Image -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://images.pexels.com/photos/237464/pexels-photo-237464.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!--The post content-->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fa-solid fa-thumbs-up"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fa-regular fa-thumbs-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                            {% endif %}
                            <!-- The number of likes -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Create comment section-->
    <div class="col-md-8 card mb-4  mt-3 comments">
        <div class="card-body">
            <!--Alert-->
            {% if commented %}
            <div class="alert alert-success" id="msg" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn_comment btn-lg">Add comment</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <!--View,delete and edit comment-->
    <div class="row">
        <div class="col-md-12 card mb-4  mt-3" class="comments">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments-done" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                    <div class="col-md-2 card mb-0  mt-0">
                    <hr>
                    </div>
                    {% if request.user == post.author %}
                    <a href="{% url 'edit_comment' comment.id %}" class="btn btn-signup btn-lg btn-edit"><i
                            class="far fa-edit"></i></a>
                    <a href="{% url 'delete_comment' comment.id %}" class="btn btn-signup btn-lg btn-delete"
                        style="color: #fc0000;"><i class="fas fa-trash"></i></a>
                        {% else %}
                    <a  class="btn btn-signup btn-lg btn-edit" style="color: grey"><i
                            class="far fa-edit"></i></a>
                    <a  class="btn btn-signup btn-lg btn-delete"
                        style="color: grey;"><i class="fas fa-trash"></i></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

